:root {
  --primary: green;
  --bg: #010101;
}

* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: var(--bg);
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 7%;
  background-color: #008141;
  border-bottom: 1px solid rgb(0, 64, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: yellow;
}

.navbar .navbar-logo span {
  color: #fff;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: yellow;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid yellow;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: yellow;
}

#hamburger-menu {
  display: none;
}

/* Search Form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -1000%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  color: var(--bg);
  background-color: #fff;
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* Navbar End */

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(255, 255, 255, 0) 25%);
} */

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
}

.hero .content h1 span {
  color: yellow;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: #008141;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.hero .content .cta:hover {
  transform: scale(1.05);
}
/* Hero End */

/* About */
.about,
.menu,
.products,
.location,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.location h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span,
.products h2 span,
.location h2 span,
.contact h2 span {
  color: yellow;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: justify;
}
/* About End */

/* Menu */
.menu h2,
.products h2,
.location h2 {
  margin-bottom: 1rem;
}

.menu p,
.products p,
.location p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.menu .row .box {
  padding: 1rem;
  background: #008141;
  border-radius: 0.5rem;
  border: 1px solid var(--primary);
  text-align: center;
  margin: 1rem;
  height: 380px;
}

.menu .row .box h3 {
  font-size: 1.4rem;
}

.menu .row .box .stars {
  margin-top: 0.5rem;
  color: yellow;
}

.menu .row .box span {
  margin-right: 0.5rem;
}

.menu .row .box .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: #008141;
  background-color: yellow;
  cursor: pointer;
  transition: all 0.3s;
}

.menu .row .box .btn:hover {
  transform: scale(1.05);
}
/* Menu End */

/* Products */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.products .product-card {
  text-align: center;
  border: 2px solid #666;
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin: 0.3rem;
  border: 1px solid #666;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.products .product-image img {
  height: 25rem;
}
/* Products End */

/* Location */
.location .row {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
}

.location .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.location .row .address {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  width: 100%;
  padding: 2rem;
  background: none;
  color: #fff;
}

.location .row .address p {
  text-align: start;
  font-size: 1.2rem;
  line-height: 3rem;
}

.location .row .address span {
  text-align: start;
  line-height: 3rem;
  margin-right: 0.8rem;
  color: white;
}

.location .row .address span:hover {
  color: yellow;
}
/* Location End */

/* Contact */
.contact {
  margin-bottom: 100px;
}

.contact .contact-form {
  position: relative;
  z-index: 0;
  background: #010101;
  justify-content: center;
  display: grid;
  align-items: center;
  margin-top: -25px;
}

.contact .contact-form .container {
  max-width: 800px;
  margin-top: -3px;
}

.contact .contact-form .content h2 {
  line-height: 40px;
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 500;
  color: #008141;
  text-align: center;
}

.contact .contact-form .main {
  position: relative;
  display: flex;
  margin: 2rem 0;
}

.contact .contact-form .content {
  flex-basis: 50%;
  padding: 3em 3em;
  background: #fff;
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 1);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.contact .form-img {
  flex-basis: 50%;
  background: #008141;
  background-size: cover;
  padding: 40px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  align-items: center;
  display: grid;
  justify-content: center;
}

.contact .form-img img {
  max-width: 100%;
}

.contact .btn,
button,
input {
  border-radius: 2rem;
  transition: 0.3s;
}

.contact .btn:hover,
button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.contact .contact-form form {
  margin: 30px 0;
}

.contact .contact-form input,
textarea {
  outline: none;
  margin-bottom: 1rem;
  font-stretch: 1rem;
  color: #999;
  padding: 14px 20px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  background: #fcfcfc;
  transition: 0.3s ease;
}

.contact .contact-form input:focus {
  background: transparent;
  border: 1px solid var(--primary);
}

.contact .contact-form button {
  font-size: 1.2rem;
  color: #fff;
  width: 100%;
  background: #008141;
  font-weight: 700;
  transition: 0.3s ease;
  padding: 14px 15px;
}
/* Contact End */

/* Footer */
footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #008141;
  padding: 60px 10%;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
}

.footer-col h4 {
  position: relative;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.3rem;
  color: #fff;
  text-transform: capitalize;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: var(--primary);
  height: 2px;
  width: 40px;
}

ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

ul li a {
  display: block;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: yellow;
  text-decoration: none;
  transition: 0.4s;
}

ul li a .icon {
  color: #fff;
  width: 20px;
}

ul li a:hover {
  color: #fff;
  padding-left: 2px;
}

.links {
  margin-left: -10px;
}

.links a {
  display: inline-block;
  height: 44px;
  width: 44px;
  color: #fff;
  background-color: #008141;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height: 44px;
  border-radius: 50%;
  transition: 0.4s;
}

.links a:hover {
  color: yellow;
  background-color: #000;
}

.links a .social-media {
  margin-top: 10px;
}
/* Footer End */

/* Modal Box */
/* Item Detai */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal .modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animasi */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal .modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal .modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal .modal-content img {
  height: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal .modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal .modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}
